<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>


<div th:fragment="info">navigation info</div>
<div th:fragment="frag (client,eng)"> frag (client,eng) </div>

<div th:fragment="eng">

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>




                <ul class="nav navbar-nav navbar-right">

                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <img src="images/img.jpg" alt=""><i class="fa fa-user">&nbsp; <span th:text="${principal}"></span></i>
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="javascript:;"> Profile</a></li>
                            <li>
                                <a href="javascript:;">
                                    <span class="badge bg-red pull-right">50%</span>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li><a href="javascript:;">Help</a></li>
                            <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-green">6</span>
                        </a>
                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                            <li>
                                <a>
                                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">30 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">2 hours ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">2 hours 3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                </a>
                            </li>
                            <li>
                                <div class="text-center">
                                    <a>
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->
</div> <!--////////////////////////////////////////////////////////////////////////////////////-->
<div th:fragment="aze">

    <div class="btn-userGroup open">
        <a class="btn btn-default" href="#"><i class="fa fa-user fa-fw"></i> User</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>
        </ul>
    </div>

</div> <!--////////////////////////////////////////////////////////////////////////////////////-->
<div class="container" th:fragment="incDel">


    <div class="row" >
        <!-- <div class="row" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
         ng-contoller="Ctrl">-->

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">


            <div class="x_panel">

                <div class="x_title">
                    <h2>
                        customs declaration CN23

                    </h2>


                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>  <!-- x-title -->

                <div class="x_content">


                    <form method="POST" name="incDel" action="/incDel/new" class="form-horizontal " th:object="${incDel}" th:action="@{/incDel/new}">
                        <!--form-label-left input_mask   -->


                        <div class="row" style="margin-top:5px">
                            <label class="control-label col-md-2 col-sm-2 col-xs-6">
                                <a href="#" data-toggle="tooltip" title="
                                select the supplier of your product">
                                    <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>
                                Supplier
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-6">

                                <input type="text" class="form-control" required="required"
                                       placeholder="Supplier company name" name="supplier" th:field="*{supplier}"/>
                            </div>
                            <ul>
                                <li style="color:red;" th:each="err : ${#fields.errors('supplier')}" th:text="${err}" ></li>
                            </ul>

                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <input type="text" class="form-control" required="required"
                                       placeholder="Currier Company delivery tracking number"
                                       name="currierTrackNumber"/>
                            </div>
                            <label class="col-md-2 col-sm-2 col-xs-6">Tracking
                                <a href="#" data-toggle="tooltip" title="'
                                Important ! ">
                                    <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i>
                                </a>
                            </label>
                        </div>


                        <div class="row" style="margin-top:5px">
                            <label class="control-label col-md-2 col-sm-2 col-xs-6">
                                <a href="#" data-toggle="tooltip" title="
                                Full adress your supplier">
                                    <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i>
                                </a>
                                Adress
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <input type="text" class="form-control" required="required"
                                       placeholder="City Street House Room">
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <input type="text" class="form-control" required="required"
                                       placeholder="Invoice number from supplier" name="supplierInvoice"/>
                            </div>
                            <label class="col-md-2 col-sm-2 col-xs-6">Invoice
                                <a href="#" data-toggle="tooltip" title="
                                Number invoice from suppler ">
                                    <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i>
                                </a></label>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="row" style="margin-top:2%">

                            <label class="col-md-2 text-right">
                                <a href="#" data-toggle="tooltip" title="
                                Select the way how you want to send the goods">
                                    <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>
                                &nbsp; Shipping Type :
                            </label>

                            <div class="col-md-4 col-sm-4 col-xs-12 form-userGroup has-feedback text-center">


                                <input type="radio" name="shippingType" value="air" checked="true"/>
                                <i class="fa fa-plane fa-2x" aria-hidden="true"> </i> &nbsp;air&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="shippingType" value="sea"/>
                                <i class="fa fa-ship fa-2x" aria-hidden="true"> </i>&nbsp;sea &nbsp;

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="shippingType" value="land"/>
                                <i class="fa fa-truck fa-2x" aria-hidden="true"></i>&nbsp;truck&nbsp;

                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 form-userGroup has-feedback text-center">

                                <input type="radio" name="customsType" value="post" checked="true"/>
                                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>&nbsp; Post &nbsp;

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="customsType" value="official" disabled="true"/>
                                <i class="fa fa-university fa-2x" aria-hidden="true"></i> &nbsp;Official&nbsp;


                            </div>
                            <label class="col-md-2">

                                Customs Type : &nbsp;
                                <a href="#" data-toggle="tooltip" title="
                                Please select the typeUser of customs clearance">
                                    <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>
                            </label>

                        </div>


                        <div class="ln_solid"></div>


                        <div class="container">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">
                                Add New Product
                            </button>

                            <a type="button" class="btn btn-default btn-md">Add Invoice</a>


                            <div class="col-md-12 col-sm-12 col-xs-12">


                            </div>


                            <div class="table-responsive" style="margin-top:5px">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                            <input type="hidden" name="id"/>
                                        </th>


                                        <th class="column-title">productName</th>
                                        <th class="column-title">url</th>
                                        <th class="column-title">qty</th>
                                        <th class="column-title">price <i class="fa fa-usd" aria-hidden="true"></i>
                                        </th>
                                        <th class="column-title">Amount</th>
                                        <th class="column-title">Status</th>
                                        <th class="column-title no-link last"><span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    <div ng-repeat="order in orderstIncDelList">

                                        <tr class="even pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records">
                                            </td>
                                            <td class=" ">${{order.productName}}</td>
                                            <td class=" ">${{order.url}}</td>
                                            <td class=" ">${{order.qty}} </i></td>
                                            <td class=" "><i class="fa fa-usd" aria-hidden="true"></i>
                                                340
                                            </td>
                                            <td class=" "><i class="fa fa-usd" aria-hidden="true"></i>
                                                680
                                            </td>
                                            <td class="a-right a-right ">Paid</td>
                                            <td class="last">
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#" style="margin-left: 10px"><i class="fa fa-trash-o"
                                                                                         aria-hidden="true"></i></a>

                                            </td>
                                        </tr>


                                        <!--<tr class="even pointer">-->
                                        <!--<td class="a-center ">-->
                                        <!--<input type="checkbox" class="flat" name="table_records">-->
                                        <!--</td>-->
                                        <!--<td class=" ">Shoes</td>-->
                                        <!--<td class=" ">www.amazon.com/%#@@232123</td>-->
                                        <!--<td class=" ">2 </i></td>-->
                                        <!--<td class=" "><i class="fa fa-usd" aria-hidden="true"></i>-->
                                        <!--340-->
                                        <!--</td>-->
                                        <!--<td class=" "><i class="fa fa-usd" aria-hidden="true"></i>-->
                                        <!--680-->
                                        <!--</td>-->
                                        <!--<td class="a-right a-right ">Paid</td>-->
                                        <!--<td class="last">-->
                                        <!--<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>-->
                                        <!--<a href="#" style="margin-left: 10px"><i class="fa fa-trash-o"-->
                                        <!--aria-hidden="true"></i></a>-->

                                        <!--</td>-->
                                        <!--</tr>-->
                                    </div>
                                    </tbody>
                                </table>
                            </div>


                            <div class="ln_solid"></div>


                            <div class="form-userGroup">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3" style="margin-top:1%">

                                    <input type="hidden" name="${_csrf.parameterName}"
                                           value="${_csrf.token}"/>

                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </div>
                    </form>


                </div> <!-- x-content -->

            </div>   <!-- x-panel -->


        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

    </div> <!--</row>-->


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" ng-controller="incDelFormAddNewOrderControllerAng">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Product Form</h4>
                </div><!--modal-header-->

                <div class="modal-body">


                    <!--<form action="/product/new/">-->

                    <div class="row">
                        <div class="form-userGroup">

                        </div>
                        <label for="sel1" class="control-label col-md-2 col-sm-2 col-xs-6">Product </label>

                        <div class="col-md-5 col-sm-4 col-xs-6">
                            <select class="form-control" id="sel1" ng-modal="productName">
                                <option>Close</option>
                                <option>Shoes</option>

                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <input type="text" class="form-control" required="required"
                                   placeholder="qty" name="qty" ng-modal="qty"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <input type="text" class="form-control" required="required"
                                   placeholder="usd" name="price" ng-modal="price"/>
                        </div>


                        <label for="url" class="control-label col-md-2 col-sm-2 col-xs-2"
                               style="margin-top:2%">URL </label>
                        <div class="col-md-10 col-sm-10 col-xs-10" style="margin-top:2%">
                            <input id="url" type="text" class="form-control" required="required"
                                   placeholder=" enter the website link to your product " name="url" ng-modal="url"/>
                        </div>

                        <!--<a href="#" data-toggle="tooltip" title="add new product">-->
                        <!--<i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>-->
                    </div>
                    <br/>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="add()" ng-enter="update()">Add Product</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>

                    </div>
                    <!--</form>-->


                </div>   <!--modal body end-->

            </div>
        </div>







<!--</div>-->
</div>


</div> <!--////////////////////////////////////////////////////////////////////////////////////-->
<div th:fragment="top">


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Panel</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/incDel/new">Delivery</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-userGroup">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</div> <!--////////////////////////////////////////////////////////////////////////////////////-->

</body>

</html>