<!--<div class="container">-->
<div class="row" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">>
    <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
    <div class="col-md-8 col-sm-12 col-xs-12">


        <div class="x_panel">

            <div class="x_title">
                <h2>
                    customs declaration CN23

                </h2>


                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>  <!-- x-title -->

            <div class="x_content">


                <form method="POST" action="incDel/new" class="form-horizontal ">  <!--form-label-left input_mask-->


                    <div class="row" style="margin-top:5px">
                        <label class="control-label col-md-2 col-sm-2 col-xs-6">
                            <a href="#" data-toggle="tooltip" title="
                                select the supplier of your product">
                                <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>
                            Supplier
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <input type="text" class="form-control" required="required"
                                   placeholder="Supplier company name" name="supplier"/>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <input type="text" class="form-control" required="required"
                                   placeholder="Tracking number your orderIncDel on supplier" name="currierTrackNumber"/>
                        </div>
                        <label class="col-md-2 col-sm-2 col-xs-6">Tracking #</label>
                    </div>


                    <div class="row" style="margin-top:5px">
                        <label class="control-label col-md-2 col-sm-2 col-xs-6">Adress </label>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <input type="text" class="form-control" required="required"
                                   placeholder="City Street House Room">
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <input type="text" class="form-control" required="required"
                                   placeholder="Invoice number from supplier" name="supplierInvoice"/>
                        </div>
                        <label class="col-md-2 col-sm-2 col-xs-6">Invoice #</label>
                    </div>


                    <div class="row" style="margin-top:2%">

                        <div class="col-md-2"></div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <a href="#" data-toggle="tooltip" title="
                                Select the way how you want to send the goods">
                                <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>
                            Shipping Type : &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="shippingType" value="air" checked="true"/>
                            <i class="fa fa-plane" aria-hidden="true"> </i> &nbsp;air&nbsp;

                            <input type="radio" name="shippingType" value="sea"/>
                            <i class="fa fa-ship" aria-hidden="true"> </i>&nbsp;sea &nbsp;


                            <input type="radio" name="shippingType" value="land"/>
                            <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;truck&nbsp;

                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <a href="#" data-toggle="tooltip" title="
                                Please select the type of customs clearance">
                                <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>
                            Customs Type : &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="customsType" value="post" checked="true"/>
                            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Post &nbsp;


                            <input type="radio" name="customsType" value="official" disabled="true"/>
                            <i class="fa fa-university" aria-hidden="true"></i> &nbsp;Official&nbsp;


                        </div>

                    </div>


                    <div class="ln_solid"></div>


                    <div class="container">

                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">
                            Add New Product
                        </button>

                        <button type="button" class="btn btn-default btn-md">Add Invoice</button>


                        <div class="col-md-12 col-sm-12 col-xs-12">


                        </div>


                        <div class="table-responsive" style="margin-top:5px">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                    </th>
                                    <th class="column-title">Invoice</th>
                                    <th class="column-title">Invoice Date</th>
                                    <th class="column-title">Order</th>
                                    <th class="column-title">Bill to Name</th>
                                    <th class="column-title">Status</th>
                                    <th class="column-title">Amount</th>
                                    <th class="column-title no-link last"><span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                                class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">121000040</td>
                                    <td class=" ">May 23, 2014 11:47:56 PM</td>
                                    <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$7.45</td>
                                    <td class=" last"><a href="#">View</a>
                                    </td>
                                </tr>
                                <tr class="odd pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">121000039</td>
                                    <td class=" ">May 23, 2014 11:30:12 PM</td>
                                    <td class=" ">121000208 <i class="success fa fa-long-arrow-up"></i>
                                    </td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$741.20</td>
                                    <td class=" last"><a href="#">View</a>
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">121000038</td>
                                    <td class=" ">May 24, 2014 10:55:33 PM</td>
                                    <td class=" ">121000203 <i class="success fa fa-long-arrow-up"></i>
                                    </td>
                                    <td class=" ">Mike Smith</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$432.26</td>
                                    <td class=" last"><a href="#">View</a>
                                    </td>
                                </tr>
                                <tr class="odd pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">121000037</td>
                                    <td class=" ">May 24, 2014 10:52:44 PM</td>
                                    <td class=" ">121000204</td>
                                    <td class=" ">Mike Smith</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$333.21</td>
                                    <td class=" last"><a href="#">View</a>
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">121000040</td>
                                    <td class=" ">May 24, 2014 11:47:56 PM</td>
                                    <td class=" ">121000210</td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$7.45</td>
                                    <td class=" last"><a href="#">View</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>


                        <div class="ln_solid"></div>


                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3" style="margin-top:1%">

                                <button type="reset" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>


                </form>


            </div> <!-- x-content -->

        </div>   <!-- x-panel -->


    </div>
    <div class="col-lg-2 col-md-2 "></div>
</div>
<!--</div>-->


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Product Form</h4>
            </div><!--modal-header-->

            <div class="modal-body">


                <form action="/product/new/${incDel.id}">

                    <div class="row">
                        <div class="form-group">

                        </div>
                        <label for="sel1" class="control-label col-md-2 col-sm-2 col-xs-6">Product </label>

                        <div class="col-md-5 col-sm-4 col-xs-6">
                            <select class="form-control" id="sel1">
                                <option>Close</option>
                                <option>Shoes</option>

                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <input type="text" class="form-control" required="required"
                                   placeholder="qty" name="qty"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <input type="text" class="form-control" required="required"
                                   placeholder="usd" name="price"/>
                        </div>



                        <label for="url" class="control-label col-md-2 col-sm-2 col-xs-2" >URL </label>
                        <div class="col-md-10 col-sm-10 col-xs-10" style="margin-top:2%">
                            <input id="url" type="text" class="form-control" required="required"
                                   placeholder=" enter the website link to your product " name="price"/>
                        </div>

                        <!--<a href="#" data-toggle="tooltip" title="add new product">-->
                        <!--<i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></a>-->
                    </div>
                    <br/>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>

                    </div>
                </form>



            </div>   <!--modal body end-->

        </div>
    </div>

</div>


</div>
<div class="col-lg-2 col-md-2 "></div>
</div>
<!--</div>-->

