.bg-light-gray-clr{
	background-color: #b3b1b1;
}

.express-text{
	font-size: 36px;
	margin-top: 20%;
	font-weight: 200 !important;
}

.logo-azx{
	width: 30%;
}

.bt_tell_more{
	position: absolute;
	bottom: 30px;
	left: 50%;
}

.page-scroll img {
	width: 40%;
	display: block;
}

.nav-menu-text{
	color: black;
}

.navbar-shrink .nav li a {
	color: black;
}

.navbar-shrink {
	background-color: #fff;
	border-bottom: 1px solid #BDB19F;
	padding: 0;
}

.navbar-nav li a {
	padding-top: 26px;
	padding-bottom: 26px;
}

.navbar-default .navbar-nav>.active>a{
	border-radius: 0;
}

#team {
	display: none;
}

a.page-scroll {
	display: block;
}

.bt_tell_more{
	color: #3ab;
}


.timeline-image>.arrow-down{
	position: relative;
	width: 30px;
	top: 36px;
	left: 0;
}

.team-container{
	padding: 3% 0;
}

.image-team {
	max-width: 35%;
}

#portfolio {
	width: 100%;
	padding: 100px  0;
	background-color: #e3e3e3;
}


#clients{
	background-color: #e3e3e3;
}

.services-section{
	width: 100%;
	padding: 100px 0;
}



.services-header-text{
	padding-bottom: 8%;
}

ul.social-buttons li a{
	width: 30px;
	height: 30px;
	line-height: 29px;
}

.navbar-collapse{
	text-align: center;
}


.contact-text{
	text-align: center;
	padding-bottom: 30px;
}

.navbar-toggle{
	position: absolute;
	right: 0;
}

.navbar-default .navbar-toggle{
	background-color: #420746;
	border-color: #420746;
}

.navbar-toggle{
	border-bottom: 2px solid #BDB19F;
}

.about-btn-block{
	margin-top: 20px;
}

.about-slct{
	margin-bottom: 15px;
}

.team-member img {
	border: 2px solid #fff;
}

.img-circle{
	border-radius: 0;
}

.scroll-up{
	position: fixed;
	bottom: 10px;
	right: 40px;
	width: 40px;
}


.timeline-image{
	position: absolute;
}

.timeline-image img {
	max-width: 85%;
	position: relative;
	top: 10px;
	left: 10px;
}


.send-request{
	color: black;
	margin-top: 45px;
	font-size: 20px;
}

#go {
	background-color: #3ab;
}


.partners-slider{
	width: 100%;
}	

.partner-slide{
	display: inline-block;
	width: 300px;
	height: 250px;
	float: left;
}

.partner-slide img {
	width: 100%;
}


.portfolio-item>a>img {
	height: 260px;
}


#porfolioSET>.portfolio-item{
	margin: 0;
}

.modal-img-first{
	width: 15%;
	margin-right: 40px;
}

.modal-img-second{
	width: 25%;
}

.modal-img-third{
	width: 15%;
	margin-left: 100px;
}

.portfolio-modal{
	padding: 15px;
}





/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mySlides{
	width: 70%;
	height: 300px;
	margin: 0 auto;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}







@media screen and (min-width: 769px) {
	.page-scroll img {
		margin-top: 10px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1204px) {
	.navbar-header {
		width: 200px;
	}
}


@media (max-width: 768px) {
	.page-scroll img {
		margin: 10px;
		width: 100px;
	}
}

@media (max-width: 520px) {
	.logo-azx {
		width: 35%;
	}
}

@media screen and (max-width: 768px) {
	.express-text {
		font-size: 20px;
		line-height: 40px;
		margin-top: 50%;
  }
}

@media screen and (max-width: 768px) {
	section h2.section-heading {
		font-size: 23px;
  }
}

@media screen and (max-width: 1024px) {
	.team-member img {
		width: 70%;
  }
}

@media screen and (max-width: 768px) {
	.team-member img {
		width: 30%;
  }
}

@media screen and (max-width: 375px) {
	.team-member img {
		width: 35%;
  }
}

@media screen and (min-width: 768px) {
	.portfolio-item {
		width: 33%;
  }
}





