<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 id="headline" class="section-heading">КАК ОСУЩЕСТВЛЯЕТСЯ ДОСТАВКА ГРУЗА В AZEMEX </h2>
                <br/>
                <br/>
                <br/>
                <h3 class="section-subheading text-muted" style="font-size: 25px"> Убедитесь насколько простро делать международнные покупки товаров</h3>
                <br/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <!-- 1 -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading ">
                                <h4>Заполни заявку Ваш груз попадает на наш склад</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted aboutText_1">Вы можете направить заказ на наш склад почтой,
                                    курьером или привезти лично.</p>
                                <p class="text-muted aboutText_1"> Сотрудники фиксируют размеры и вес груза. От этих
                                    параметров, а также расстояния до получателя зависит цена доставки заказа</p>
                            </div>
                        </div>
                    </li>

                    <!-- 2 -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Отслеживание груза</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted testT aboutText_2">После получения заказа на склад мы предоставляем
                                    вам доступ в личный онлайн-кабинет для контроля передвижения груза. Его
                                    местонахождение можно в любое время – 24/7 – узнать из нашей системы учета.</p>
                            </div>
                        </div>
                    </li>


                    <!-- 3  -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading ">
                                <h4>Международная пересылка</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted aboutText_3">Исходя из габаритов и веса груза, мы определяем
                                    наиболее подходящий способ отправки заказа в любую страну мира: воздушным, водным,
                                    железнодорожным, автомобильным транспортом, почтовой, курьерской доставкой</p>
                            </div>
                        </div>
                    </li>

                    <!-- 4 -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Таможенная очистка груза</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted testT aboutText_4">Наши сотрудники и партнеры проводят все
                                    необходимые процедуры по оформлению заказа на таможнях при пересечении
                                    государственных границ</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <!-- 5 -->
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading ">
                                <h4>Вы получает груз в указаное время</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted aboutText_5">
                                    Заказ можно получить любым удобным способом: почтой, курьером, приехать лично.
                                    Получатель должен иметь при себе документы с реквизитами, которые указаны в заявке
                                    при отправлении груза</p>
                            </div>
                        </div>
                    </li>


                    <li class="timeline-inverted">
                        <div class="timeline-image">

                            <a id="go" style="color:black">

                                <img class="img-circle img-responsive" src="img/about/index.png" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> <!--Title here--></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted testT aboutText_4"> <!--Text here--> </p>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>



        <div id="modal_form"><!-- Сaмo oкнo -->
            <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
            <!-- Тут сoдержимoе -->


            <!-- Навигация -->
            <div>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#home" aria-controls="home" role="tab"
                                          data-toggle="tab">Консультация </a>
                    </li>
                    <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Расчет стоимости</a>
                    </li>
                    <li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Сообщения</a></li>

                </ul>
                <!-- Содержимое вкладок -->
                <div class="tab-content">
                    <!-- first -->
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <div class="panel-heading">
                            <p style="letter-spacing:1.5px" class="panel-heading">Укажите Ваши контактные данные и наши
                                менеджеры свяжутся с Вами в ближайшее время для уточнения всех необходимых вопросов</p>
                        </div>
                        <br/>
                        <form>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="name" class="form-control" placeholder="Name" id="name" required
                                       pattern="[A-Za-zА-Яа-яЁё]">
                            </div>
                            <br/>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                <input class="form-control" id="phone">
                            </div>

                            <br/>
                            <br/>
                            <button type="submit" class="btn btn-lg">ОТПРАВИТЬ</button>
                            <button type="reset" class="btn btn-lg">ОЧИСТИТЬ</button>
                        </form>

                    </div>
                    <!-- second -->
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <br/>
                        <p style="letter-spacing:1.5px" class="panel-heading">Расчеты представленные в данном разделе
                            носят чисто информативный характер, окончательную стоимость Вам предоставят менеджеры после
                            уточнения всех дополнительных опций</p>
                        <form>
                            <p><strong>Выбери Страну</strong></p>
                            <select name="county">
                                <option value="s1">ОАЭ</option>
                                <option value="s2" selected>США</option>
                                <option value="s3">Europe</option>
                            </select>
                            <br>
                            <br>
                            <p><strong>Выбери Товар</strong></p>
                            <select name="goods">
                                <option value="s1">Запчасти</option>
                                <option value="s2" selected>Вещи</option>
                                <option value="s3">Электроника</option>
                            </select>
                            <br>
                            <br>
                            <p><strong>Укажите вес</strong></p>
                            <input type="text" name=""/>
                            <br>
                            <br>
                            <strong>Укажите вид доставки</strong>
                            <br>
                            <p>
                                <input type="radio" name="answer" value="a1"><strong>Авиа</strong>
                                12$/kg - 7 days
                                <input type="radio" name="answer" value="a2"
                                       style="float:left,margin-left:12px"><strong>Контейнер</strong> 3$/kg - 40 days
                                <input type="radio" name="answer" value="a3"
                                       style="float:left,margin-left:12px"><strong>Машина</strong> 7$/kg - 15days
                            </p>
                            <br>
                            <br>
                            <div style="float:left,margin-left:12px">
                                <input type="submit" value="Расчитать стоимость">
                                <input type="submit" value="Оставить заявку">

                            </div>
                        </form>


                    </div>


                    <!-- third -->
                    <div role="tabpanel" class="tab-pane fade" id="messages">Lorem ipsum dolor sit amet
                        consectetur....
                    </div>



                </div>
            </div>


        </div>
        <div id="overlay"></div><!-- Пoдлoжкa -->

    </div>
</section>