<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Website 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline ">

                    <li><a href="#">
                        <img src="img/logos/american-express.png" class="img-responsive img-centered" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="img/logos/mastercard.png" class="img-responsive img-centered" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="img/logos/paypal.png" class="img-responsive img-centered" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="img/logos/visa.png" class="img-responsive img-centered" alt="">
                    </a></li>

                </ul>
            </div>
            <!--<div class="col-md-3">-->
                <!--<ul class="list-inline social-buttons">-->

                    <!--<li> <a href="#">-->
                        <!--<span class="fa fa-facebook"></span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li> <a href="#">-->
                        <!--<span class="fa fa-facebook-f"></span>-->
                    <!--</a></li>-->
                    <!--<li> <a href="#" class="btn btn-social-icon btn-facebook">-->
                        <!--<span class="fa fa-facebook-official"></span>-->
                    <!--</a></li>-->
                    <!--<li> <a class="btn btn-social-icon btn-facebook">-->

                    <!--</a></li>-->

                <!--</ul>-->
            <!--</div>-->
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Лицензия</a>
                    </li>
                    <li><a href="#">Условия сотрудничества</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>