<!-- Services Section -->
<section id="services" class="services-section">
    <div class="services-content container body_">
        <div class="row">
            <div class="col-lg-12 text-center services-header-text" id="services_">
                <h2 class="section-heading" >Основные направления компании</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 services_class" id="services1">
                         <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-envelope-o fa-stack-1x fa-inverse "></i>
                         </span>
                <h4 class="service-heading">Международня доставка почтовых отправлений</h4>
                <p class="text-muted ">Наша компания обеспечивает высокий сервис в пересылке международных почтовых отправлений.</p>
            </div>
            <div class="col-md-4 " id="services2">
                         <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                         </span>
                <h4 class="service-heading">Международная логистика </h4>
                <div class="services_class">
                    <p class="text-muted">Тщательно отработанные пути доставки позволяют значительно сократить расходы по транспортировке срочных грузов используя современные технологии отслеживания этапов доставки</p>
                </div>
            </div>
            <div class="col-md-4 services_class" id="services3">
                         <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-unlock-alt fa-stack-1x fa-inverse"></i>
                         </span>
                <h4 class="service-heading">Таможенное оформление грузов</h4>
                <p class="text-muted">Опыт компании позволяет в кротчайшие сроки проходить сложные процедуры таможенного оформления грузов</p>
            </div>
        </div>
    </div>
</section>