 ЕСли include в FTL  - не работает !

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/font-awesome/css/font-awesome.min.css" th:href="@{../css/font-awesome.min.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/nprogress.css" th:href="@{../css/nprogress.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/custom.css" th:href="@{../css/custom.css}"/>
