<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" id="testNavBarTop">
    <div class="container">


        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>


            <!--<a class="navbar-brand page-scroll animated zoomIn" href="#page-top">A Z E M E X</a> -->


            <!--<a id="infoScrollik">-->
            <!--<div id="infoScroll">info scroll</div> </a>-->
            <!--<div id="infoWidth">width</div>-->
            <!---->

            <a href="/" class="page-scroll"> <img src="img/Logo_orange_small.png" class="logoTop hidden">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="navBarFonts">
                <li class="hidden">
                    <!--
                    <a href="#page-top">
                    </a>
               -->
                </li>

                <li>
                    <a class="page-scroll animated zoomIn howItWork" href="#about" id="menuRoboto1">Delivery process</a>
                </li>

                <li>
                    <a class="page-scroll animated zoomIn navAbout" href="#services" id="menuRoboto"> About </a>
                </li>


                <li>
                    <a class="page-scroll animated zoomIn team" href="/documents">Documents</a>
                </li>


                <li>
                    <a class="page-scroll animated zoomIn navAbout" href="#fq"> FQ </a>
                </li>


                <li>
                    <a class="page-scroll animated zoomIn contacts" href="#contact">Contacts</a>
                </li>

                <li>
                    <div class="dropdown cursorIn" style="margin-top: 5px;margin-left: 180px">
                        <option class="dropdown-toggle" data-toggle="dropdown"><img src="img/flags/${locale}Sq.png"
                                                                                    class="img-responsive img-centered"
                                                                                    alt="">
                        </option>
                        <ul class="dropdown-menu">

                            <li><a href="/aze"><img src="img/flags/azeSq.png" class="img-responsive img-centered"
                                                    alt="">AZ</a></li>
                            <li><a href="/eng"><img src="img/flags/engSq.png" class="img-responsive img-centered"
                                                    alt="">EN</a></li>
                            <li><a href="/rus"><img src="img/flags/rusSq.png" class="img-responsive img-centered"
                                                    alt="">RU</a></li>

                        </ul>
                    </div>

                </li>
                <li>
                    <a class="page-scroll animated zoomIn contacts" href="/admin">
                        <#if isAnonym?exists>
                            <#if isAnonym =="">
                                <i class="fa fa-sign-out fa-2x" style="margin-top: -2em" aria-hidden="true"></i>
                            </#if>
                        </#if>
                        ${principal}
                    </a>
                </li>

            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>